@charset "UTF-8";

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 1em;
}

#listWrapper, #divWrapper {
    border: solid 1px #e5e5e5;
    background-color: #f5f5f5;
    margin: 1em;
    padding: 1em;
    width: 30%;
}

#listWrapper ul {
    margin: 0;
}

#listWrapper a.toggler, #divWrapper a.toggler {
    text-align: right;
    display: block;
    font-size: 75%;
}

a {
    color: #a71a10;
}